<div id="wrapper">

    <header class="navbar navbar-white navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="zmdi zmdi-view-headline zmdi-hc-2x"></span>
            </button>
            <a class="navbar-brand"
               title="Deluxe - Material Admin Template" style="background-color: #ffffff"><img
                    src="static/assets/images/hitss_logo.png" style="    width: 170px;
    margin-left: 20px;
    margin-top: -16px;"/></a>
        </div>


        <nav>
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="javascript:void(0);" class="toggle-sidebar hvr-underline-from-center legitRipple"
                       title="Show/Hide Sidebar">
                        <i class="zmdi zmdi-menu"></i>
                    </a>
                </li>
                <!-- <li>
                     <a class="clear-storage hvr-underline-from-center legitRipple" href="javascript:void(0);"
                        title="Clear Local Storage">
                         <i class="zmdi zmdi-delete"></i>
                     </a>
                 </li>-->
                <li>
                    <a href="javascript:void(0);" class="fullscreen hvr-underline-from-center legitRipple"
                       title="Full Screen">
                        <i class="zmdi zmdi-fullscreen"></i>
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-top-links navbar-right">

                <!-- <li class="dropdown">
                     <a class="dropdown-toggle hvr-underline-from-center legitRipple" data-toggle="dropdown"
                        href="javascript:void(0);" title="Messages">
                         <i class="zmdi zmdi-email"></i>
                         <span class="him-counts">8</span>
                     </a>

                     <ul class="dropdown-menu dropdown-messages animated fadeIn">
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <strong>John Smith</strong>
        <span class="pull-right text-muted">
        <em>Yesterday</em>
        </span>
                                 </div>
                                 <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <strong>John Smith</strong>
        <span class="pull-right text-muted">
        <em>Yesterday</em>
        </span>
                                 </div>
                                 <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <strong>John Smith</strong>
        <span class="pull-right text-muted">
        <em>Yesterday</em>
        </span>
                                 </div>
                                 <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a class="text-center legitRipple" href="javascript:void(0);">
                                 <strong>Read All Messages</strong>
                             </a>
                         </li>
                     </ul>

                 </li>


                 <li class="dropdown">
                     <a class="dropdown-toggle hvr-underline-from-center legitRipple" data-toggle="dropdown"
                        href="javascript:void(0);" title="Tasks">
                         <i class="zmdi zmdi-view-list-alt"></i>
                         <span class="him-counts">9</span>
                     </a>

                     <ul class="dropdown-menu dropdown-tasks animated fadeIn">
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <p>
                                         <strong>Task 1</strong>
                                         <span class="pull-right text-muted">40% Complete</span>
                                     </p>

                                     <div class="progress progress-striped active">
                                         <div class="progress-bar progress-bar-success" role="progressbar"
                                              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                              style="width: 40%">
                                             <span class="sr-only">40% Complete (success)</span>
                                         </div>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <p>
                                         <strong>Task 2</strong>
                                         <span class="pull-right text-muted">20% Complete</span>
                                     </p>

                                     <div class="progress progress-striped active">
                                         <div class="progress-bar progress-bar-info" role="progressbar"
                                              aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                              style="width: 20%">
                                             <span class="sr-only">20% Complete</span>
                                         </div>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <p>
                                         <strong>Task 3</strong>
                                         <span class="pull-right text-muted">60% Complete</span>
                                     </p>

                                     <div class="progress progress-striped active">
                                         <div class="progress-bar progress-bar-warning" role="progressbar"
                                              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                              style="width: 60%">
                                             <span class="sr-only">60% Complete (warning)</span>
                                         </div>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <p>
                                         <strong>Task 4</strong>
                                         <span class="pull-right text-muted">80% Complete</span>
                                     </p>

                                     <div class="progress progress-striped active">
                                         <div class="progress-bar progress-bar-danger" role="progressbar"
                                              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                              style="width: 80%">
                                             <span class="sr-only">80% Complete (danger)</span>
                                         </div>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a class="text-center legitRipple" href="javascript:void(0);">
                                 <strong>See All Tasks</strong>
                             </a>
                         </li>
                     </ul>

                 </li>


                 <li class="dropdown">
                     <a class="dropdown-toggle hvr-underline-from-center legitRipple" data-toggle="dropdown"
                        href="javascript:void(0);" title="Notifications">
                         <i class="him-icon zmdi zmdi-notifications"></i>
                         <span class="him-counts">6</span>
                     </a>

                     <ul class="dropdown-menu dropdown-alerts animated fadeIn">
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <i class="zmdi zmdi-comment-more"></i> New Comment
                                     <span class="pull-right text-muted small">4 minutes ago</span>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <i class="zmdi zmdi-twitter"></i> 3 New Followers
                                     <span class="pull-right text-muted small">12 minutes ago</span>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <i class="zmdi zmdi-email"></i> Message Sent
                                     <span class="pull-right text-muted small">4 minutes ago</span>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <i class="zmdi zmdi-storage"></i> New Task
                                     <span class="pull-right text-muted small">4 minutes ago</span>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a href="javascript:void(0);" class="legitRipple">
                                 <div>
                                     <i class="zmdi zmdi-upload"></i> Server Rebooted
                                     <span class="pull-right text-muted small">4 minutes ago</span>
                                 </div>
                             </a>
                         </li>
                         <li class="divider"></li>
                         <li>
                             <a class="text-center legitRipple" href="javascript:void(0);">
                                 <strong>See All Alerts</strong>
                             </a>
                         </li>
                     </ul>

                 </li>


                <li class="dropdown">
                    <a class="dropdown-toggle hvr-underline-from-center legitRipple" data-toggle="dropdown"
                       href="javascript:void(0);" title="Search">
                        <span class="zmdi zmdi-search"></span>
                    </a>

                    <div class="dropdown-menu dropdown-search animated fadeIn">
                        <form method="post" accept-charset="utf-8">
                            <p><input class="form-control" type="text" placeholder="Buscar"></p>

                            <p><input type="submit" value="Buscar" class="btn btn-primary btn-search legitRipple"></p>
                        </form>
                    </div>
                </li>-->

            </ul>

        </nav>

    </header>

    <aside>

        <div class="navbar-default sidebar">
            <div class="sidebar-nav navbar-collapse">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                    <div class="nav side-nav-white" id="side-menu"
                         style="overflow: hidden; width: auto; height: 250px;">

                        <ul class="list-unstyled">
                            <li class="profile">
                                <a href="javascript:void(0);"
                                   style="background: url(https://t3.ftcdn.net/jpg/01/01/15/18/240_F_101151839_b6DE5igBw75bK3B5TanHZU0q4AU6iFfA.jpg) left top no-repeat; height: 170px;e">
                                    <div class="avatar">
                                        <img style="margin-top: 42px;"
                                             src="https://www.leina.io/images/support/UserRegular.png" alt="Avatar">
                                    </div>
                                    <div class="info">{{_user}}<i
                                            class="material-icons">arrow_drop_down</i></div>
                                </a>
                                <ul class="nav nav-level collapse" aria-expanded="false">
                                    <li>
                                        <a
                                                class="legitRipple"><i class="zmdi zmdi-account"></i> Ver Perfil</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="legitRipple"><i
                                                class="zmdi zmdi-settings"></i> Configuracion</a>
                                    </li>
                                    <li>
                                        <a class="legitRipple" ng-click="logout()"><i class="zmdi zmdi-sign-in"></i>
                                            Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <ul class="list-unstyled sidebar-left">
                            <li ng-class="getCurrentClass('/main/principal')">
                                <a ui-sref="main.principal"><i class="material-icons">home</i>
                                    Inicio</a>
                            </li>
                            <li ng-class="getCurrentClass('/main/search_engine')">
                                <a ui-sref="main.search_engine"><i
                                        class="material-icons">insert_chart</i>Operaciones</a>
                            </li>
                            <li ng-class="getCurrentClass('/main/users')">
                                <a ui-sref="main.users"><i class="material-icons">account_circle</i>Usuarios</a>
                            </li>
                            <li ng-class="getCurrentClass('/main/risk')">
                                <a ui-sref="main.risk"><i class="material-icons">warning</i>Riesgos</a>
                            </li>
                            <li ng-class="getCurrentClass('/main/rework')">
                                <a ui-sref="main.rework"><i class="material-icons">work</i>Retrabajo</a>
                            </li>


                            <!--<li class="">
                                <a href="javascript:void(0);" aria-expanded="false"><i
                                        class="zmdi zmdi-collection-text"></i> Extra Pages <span
                                        class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/login.html"
                                           class="legitRipple">Login</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/register.html"
                                           class="legitRipple">Register</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/change_password.html"
                                           class="legitRipple">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/forgot_password.html"
                                           class="legitRipple">Forgot Password</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/confirm_email.html"
                                           class="legitRipple">Confirm Email</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/lockscreen.html"
                                           class="legitRipple">Lock Screen</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/pages/maintenance.html"
                                           class="legitRipple">Maintenance</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="legitRipple"> Error Pages<span
                                                class="zmdi zmdi-plus"></span></a>

                                        <ul class="nav nav-third-level collapse" aria-expanded="false">
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/400.html">Error
                                                    400</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/401.html">Error
                                                    401</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/403.html">Error
                                                    403</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/404.html">Error
                                                    404</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/500.html">Error
                                                    500</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/501.html">Error
                                                    501</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/502.html">Error
                                                    502</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/503.html">Error
                                                    503</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/504.html">Error
                                                    504</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/520.html">Error
                                                    520</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/521.html">Error
                                                    521</a>
                                            </li>
                                            <li>
                                                <a href="http://themeluxury.com/preview/deluxe/pages/error/533.html">Error
                                                    533</a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-trending-up"></i> Charts<span
                                        class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/charts/chartjs.html"
                                           class="legitRipple">ChartJS</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/charts/flot.html"
                                           class="legitRipple">Flot Charts</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/charts/morris.html"
                                           class="legitRipple">MorrisJS</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-view-list"></i> Tables <span
                                        class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/tables/default.html"
                                           class="legitRipple">Default</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/tables/pricing.html"
                                           class="legitRipple">Pricing</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/forms/index.html"><i
                                        class="zmdi zmdi-assignment-o"></i> Forms</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-aspect-ratio-alt"></i> UI Elements
                                    <span class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/colors.html"
                                           class="legitRipple">Colors</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/panels.html"
                                           class="legitRipple">Panels</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/buttons.html"
                                           class="legitRipple">Buttons</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/cards.html"
                                           class="legitRipple">Cards</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/notifications.html"
                                           class="legitRipple">Notifications</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/typography.html"
                                           class="legitRipple">Typography</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/icons.html"
                                           class="legitRipple">Icons</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/preloaders.html"
                                           class="legitRipple">Preloaders</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/elements/other.html"
                                           class="legitRipple">Other Elements</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-shopping-cart"></i> eCommerce <span
                                        class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/ecommerce/products.html"
                                           class="legitRipple">Products</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/ecommerce/invoice.html"
                                           class="legitRipple">Invoice</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-spinner zmdi-hc-spin"></i> Animation
                                    <span class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/animation/hover.html"
                                           class="legitRipple">Hover</a>
                                    </li>
                                    <li>
                                        <a href="http://themeluxury.com/preview/deluxe/animation/click.html"
                                           class="legitRipple">Click</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/gallery/index.html"><i
                                        class="zmdi zmdi-picture-in-picture"></i> Gallery</a>
                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/timeline/index.html"><i
                                        class="zmdi zmdi-time-restore-setting"></i> Timeline</a>
                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/maps/index.html"><i
                                        class="zmdi zmdi-google-maps"></i> Maps</a>
                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/calendar/index.html"><i
                                        class="zmdi zmdi-calendar"></i> Calendar</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><i class="zmdi zmdi-aspect-ratio-alt"></i> Level Menu
                                    <span class="zmdi zmdi-plus"></span></a>

                                <ul class="nav nav-second-level collapse" aria-expanded="false">
                                    <li>
                                        <a href="javascript:void(0);" class="legitRipple">Second Level Item</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="legitRipple">Second Level Item</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="legitRipple">Third Level<span
                                                class="zmdi zmdi-plus"></span></a>

                                        <ul class="nav nav-third-level collapse" aria-expanded="false"
                                            style="height: 0px;">
                                            <li>
                                                <a href="javascript:void(0);">Third Level Item</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Third Level Item</a>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="http://themeluxury.com/preview/deluxe/RTL/index.html"><i
                                        class="zmdi zmdi-view-dashboard"></i> RTL Dashboard</a>
                            </li>-->
                        </ul>

                    </div>
                    <div class="slimScrollBar"
                         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 474.241px;"></div>
                    <div class="slimScrollRail"
                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
        </div>

    </aside>

    <ui-view></ui-view>

</div>

<!-- A D M I N    T E M P L A T E    D E P E N D E N C I E S -->
<script type="text/javascript" src="static/bower_components/dashboard-template/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="static/bower_components/dashboard-template/bootstrap.min.js"></script>
<script type="text/javascript" src="static/bower_components/dashboard-template/metisMenu.min.js"></script>
<script type="text/javascript" src="static/bower_components/dashboard-template/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="static/bower_components/dashboard-template/init.js"></script>