<main>
    <div id="page-wrapper" class="">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header" style="color: slategray;;">Bienvenido Operaciones Mexico</h1>
                <ol class="breadcrumb" style="background: #055473;color: wheat;">
                    <li class="active">
                        <span class="zmdi zmdi-home text-white"></span></i> <i class="zmdi zmdi-circle "></i><a class="text-white">Home</a> <i class="zmdi zmdi-circle"></i> principal
                    </li>
                </ol>
            </div>
        </div>
    <br>
    <div class="row row-content">

    </div>
    </div>
</main>

